<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>github</id>
            <username>public_PAT_for_packages</username>
            <password>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</password>
        </server>

    </servers>

    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                </repository>
                <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/0i99/battleships</url>
                </repository>
            </repositories>
        </profile>
    </profiles>




</settings>